.taskItemContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 15px;
  .taskItemTitle {
    font-weight: bold;
    //margin-right: 10px;
  }
  height: fit-content;
}
